<?xml version="1.0"?>
<!--
/**
 * @author Robert Rupa <office@konatsu.pl>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="RobertRupa_AutomaticLogout" setup_version="0.0.1"/>
</config>